@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Red+Hat+Display:wght@300&display=swap");

:root{
  --primary-color:white;
  --seconday-color:black;
}
body {
  margin: 10px !important;
  font-family: 'Inter', sans-serif;
}

.nav-menu {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--primary-color);
  padding-bottom: 10px;
}

.part-one {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  /* float: left; */
  padding-left: 20px;
}

.search {
  /* float: right; */
  border: 1px solid gray;
  width: 300.48px;
  margin-top: 10px;
}

.search input {
  font-size: 12px;
  width: 94%;
  border: none;
  outline: none;
}

.search i {
  font-size: 12px;
  color: gray;
}

/* nav part-two*/
.part-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ul-list {
  margin-bottom: 0;
  padding-left: 30px;
}

.ul-list li {
  list-style: none;
  padding: 13px 13px 15px 13px;
  font-size: 15px;
}

.ul-list {
  display: flex;
  align-items: baseline;
}

/* .current a {
    color: #e8491d;
    font-weight: bold;
  } */

.ul-list a:hover {
  color: #e8491d;
}

.ul-list li a {
  text-decoration: none;
  color: var(--seconday--color);
}

.atm-brand {
  color: gray !important;
  font-size: 15px;
  border-bottom: 2px solid gray;
}

.atm i {
  border-bottom: 2px solid #ec0000;
  padding-bottom: 2px;
  font-size: 19px;
  color: #ec0000;
}

/* banking */
.red-nav {
  display: flex;
}

.banking {
  background-color: #ec0000;
  width: 95%;
  height: 67px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.banking {
  display: flex;
  justify-content: start;
  align-items: center;
}

.banking p {
  padding-left: 16px;
  color: white;
  font-weight: bold;
  margin: 25px;
}

.login {
  background-color: #545560;
  width: 119.17px;
  height: 67px;
  color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login a {
  text-decoration: none;
  color: white;
}

.log a:hover {
  color: white;
}

.log i {
  color: white;
  padding: 0 25px 0 0;
}

p.log {
  margin-bottom: 0;
}

/* 1st section */
#top {
  margin-top: 10px;
}

.main {
  position: relative;
}

.santander-one {
  position: relative;
  background-size: cover;
  background-color: #000000;
  background-image: url("images/SPC_desktop_Landing_image\ 1_flame_pattern.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.overlay {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 78.38%);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.santander-one h1 {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 54px;
}

.santander-one p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: center;
}

.sub-hero {
  background-color: #F2F2F2;
  height: 500px;
  display: flex;
  flex-direction: row;
  padding: 10% 5%;
  gap: 5%;
}

.sub-hero h2 {
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 44px;
  color: #474747;
}

.right-align {
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.sub-hero h3 {
  font-size: 30px;
  font-weight: 300;
}

.sub-hero-btn {
  background-color: #ec0000;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
  padding: 10px 45px 10px 45px;
  border-radius: 20px;
  cursor: pointer;
  width:40%;
}

.services h3{
  font-size: 50px;
  font-weight: 300;
  margin-top:10%; 
}

.secondary-hero ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.credit-card{
  margin: auto;
  width: 50%;
  margin-top: -12% !important;
}

.secondary-hero {
  background-color: black;
  height: 1300px;
  width: 100%;
}
.main-con {
  position: relative;
}
.image img {
  width: 571px;
  height: 697.28px;
  position: absolute;
  top: -70px;
  right: 0;
}
.private h3 {
  color: white;
  font-size: 50px;
  width: 501px;
  height: 162px;
  margin: 0;
  padding-left: 52px;
  padding-top: 106px;
  padding-bottom: 84px;
  font-weight: 300 !important;
}

.priority-services h3 {
  color: white;
  font-size: 44px;
  font-weight: 300 !important;
}
.line {
  border: 1px solid #ec0000;
  width: 4%;
  margin-left: 52px;
  margin-top: 15%;
  margin-bottom: 10px;
}
.priority-services li {
  color: white;
  font-size: 16px;
  width: 409px;
  margin-bottom: 5px;
}

.priority-services {
  padding-left: 52px;
  padding-bottom: 84px;
}

.discounts {
  color: white;
  flex: 50%;
}
.discounts h3 {
  color: white;
  font-size: 44px;
}
.discounts li {
  color: white;
  font-size: 16px;
  width: 406px;
  margin-bottom: 15px;
}
.discounts {
  padding-left: 52px;
  padding-bottom: 84px;
}

.extras {
  color: white;
  flex: 50%;
}
.extras h3 {
  color: white;
  font-size: 44px;
}
.extras li {
  color: white;
  font-size: 16px;
  width: 406px;
  margin-bottom: 10px;
}
.extras {
  padding-left: 52px;
  padding-bottom: 84px;
}

.two {
  display: flex;
}
.lines {
  border: 1px solid #ec0000;
  width: 8%;
  margin-bottom: 10px;
}

.extras span {
  color: #ec0000;
  text-decoration: underline;
}

.exp-benefits{
  color: #474747;;
}

.row-one{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  padding: 0 10%;
  color: #474747;
}

.row-one h3{
  font-size: 30px;
  font-weight: 300 !important;
}

.exp-header{
  text-align: center;
}

.exp-header h3{
  font-size: 44px;
  font-weight: 300;
}

.exp-header p{
  font-size: 18px;
  font-weight: 700;
}

.row-one li{
  inline-size: 70%;
  overflow-wrap: break-word;
  margin-bottom: 15px;
}

.row-one ul{
  margin-top: 15px;
}

.extras-container{
  margin-left: -15%;
}

.security-container li{
  width: 50%;
}

.row-one ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.open-ac{
  background-color: red;
  height: 15vh !important;
  display: flex;
  flex-direction: row;
  gap:20%;
  margin-top: 5%;
}

.arrow{
  width: 15%;
  margin-top: 20px;
  cursor: pointer;
}

.open-ac h3{
  margin: auto;
  width: 50%;
  color:white;
  font-size: 44px;
  font-weight: 300;
}

.accordion {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: bold;
}


.accordion:after {
  content: '\25BC';
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25B2";
  color:red;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq{
  padding: 10% 10%;
}

.faq h3{
  text-align: center;
  margin-bottom: 5%;
}

.breaking-line{
  margin-left: 10px;
  width: 99%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 20px;
  width: 70% !important;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50% !important; 
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}